@using Ad_Tools.Models
@using ADTOOLS.DTO
@model UserLoginModel
@{
    ViewBag.Title = "Login";
    Layout = null;
}
<!DOCTYPE html>
<!--[if IE 9 ]><html class="ie ie9" lang="en" class="no-js"> <![endif]-->
<!--[if !(IE)]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->

<head>

    <!-- CSS -->
    @Styles.Render("~/Scripts/adtools/bootstrap.min.css")
    @Styles.Render("~/Scripts/adtools/font-awesome.min.css")
    @Styles.Render("~/Scripts/adtools/main.css")

</head>

<body>
    @Html.ValidationSummary()
    <div class="wrapper full-page-wrapper page-login text-center">
        <div class="inner-page">
            <div class="logo" style="visibility:hidden">
                <a href="index.html">
                    <img src="assets/img/kingadmin-logo.png" alt="" />
                </a>
            </div>
            <button type="button" class="btn btn-login-facebook" style="visibility:hidden"><span>Login via Facebook</span></button>

            <div class="separator" >
                <span></span>
            </div>

            <div class="login-box center-block">
                <form class="form-horizontal" role="form">
                    <p id="message" class="title" style="color:orange"></p>
                    <div class="form-group">
                        <label for="username" class="control-label sr-only">Username</label>
                        <div class="col-sm-12">
                            <div class="input-group">  
                                @Html.DropDownList("domain", Model.domains)
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="username" class="control-label sr-only">Username</label>
                        <div class="col-sm-12">
                            <div class="input-group">
                                <input  type="text" placeholder="username" id="username" class="form-control">
                                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                            </div>
                        </div>
                    </div>
                    <label for="password" class="control-label sr-only">Password</label>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <div class="input-group">
                                <input type="password" placeholder="password" id="password" onkeydown="EnterLogin()" class="form-control">
                                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                            </div>
                        </div>
                    </div>
                    <input class="adcheckbox" id="Rememberme" type="checkbox" value="Remember Me">
                    <span>Remember me next time</span>
                    <input  type="button" class="btn btn-custom-primary btn-lg btn-block btn-login" onclick="Login()" value="Login"/>
                </form>

                <div class="links" style="visibility:hidden">
                    <p>
                        <a href="#">Forgot Username or Password?</a>
                    </p>
                    <p>
                        <a href="#">Create New Account</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="push-sticky-footer"></div>
    </div>

    <footer class="footer" style="visibility:hidden">&copy; 2017</footer>

    <!-- Javascript -->
    @Scripts.Render("~/Scripts/adtools/jquery-2.1.0.min.js")
    @Scripts.Render("~/Scripts/adtools/bootstrap.js")
    @Scripts.Render("~/Scripts/adtools/modernizr.js")
    @Scripts.Render("~/Scripts/adtools/Login.js")
    <script>
        $(document).ready(function () {
            var username = getCookie("username");
            var rememberme = getCookie("rememberme");
            var domain = getCookie("domain");
            if (rememberme != null) {
                document.getElementById("Rememberme").checked = true;
                document.getElementById("username").value = username;
                if (domain != null) {
                    document.getElementById("domain").value = domain;
                }
              
            }
            
        });

        function getCookie(name) {
            var arr = document.cookie.match(new RegExp("(^| )" + name + "=([^;]*)(;|$)"));
            if (arr != null) {
                return unescape(arr[2]);
            } else {
                return null;
            }
        }

    </script>
</body>
</html>


